body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #333;
}

*,
*after,
before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}

/*Header*/
.blog_all_header{
	padding: 30px 0px;
}

.blog_header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog_head_arrow{
	background: url("../images/arrow/arrow_black.png") no-repeat center;
	background-size: cover;

	height: 30px;
	width: 40px;
}

.blog_head_title{
	font-size: 30px;
	font-weight: 700;

	color: #333;

	margin: 0 auto;
}

/*Content*/
.content{
	font-size: 20px;
}

.basketball_img{
	width: 1200px;
	height: auto;
}
