body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #fff;
}

*,
*after,
before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}

/* Header */
.header{
	width: 100%;

	position: absolute;

	z-index: 1;

	margin-top: 40px;
}

.header_line{
	display: flex;
	flex-direction: column;

	justify-content: center;

	background: url("../images/filler/lightdark_blue_filler.png") no-repeat center;
	background-size: cover;

	width: 100%;
	height: 45px;
}

.header_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	background: url("../images/header/test.png") no-repeat center;
	background-size: cover;

	width: 120px;
	height: 120px;
}

/* Nav */
.nav{
	text-transform: uppercase;
	font-size: 14px;
}

.nav_link{
	display: inline-block;

	text-decoration: none;
	color: #fff;

	margin: 0 16px;

	transition: color 0.2 linear;
}

.nav_link:after{
	display: block;

	content: "";
	background: #97d6d8;

	width: 100%;
	height: 2px;

	opacity: 0;
	transition: opacity 0.2 linear;
}

.nav_link:hover{
	color: #97d6d8; /* ?????????????? */
}

.nav_link:hover:after{
	opacity: 1;
}


.user_img{
	position: absolute;

	bottom: 13px;

	height: 20px;
	width: 19px;
}

.search_img{
	position: absolute;

	bottom: 13px;
	margin-left: 10px;

	height: 20px;
	width: 19px;
}

/* Profile */
.profile{
	height: 100%;

	background: url("../images/main_background/background.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

/* Profile content */
.profile_content{
	padding-top: 120px;
}

/* Profile header */
.profile_header{
	display: flex;
	justify-content: center;
}

/*Proflie left*/
.profile_photo{
	width: 200px;
	height: 250px;

	margin-right: 50px;
}

/*Profile_right*/
.profile_right{
	margin-top: 20px;
	margin-left: 15px;
}

.profile_right_content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	margin-left: 30px;
	margin-top: 15px;

	font-size: 20px;
}

/*Profile_top*/
.profile_name{
	font-size: 23px;
	font-weight: 700;
}

/* Profile Teacher Link */
.profile_header_teacher_link{
	text-decoration: none;
	color: #fff;

	transition: color 0.5s;
}

.profile_header_teacher_link:hover{
	color: #97d6d8;
}
/*Profile awards*/
/* Content_table */
.content_table{
	display: flex;
	justify-content: center;

	margin-top: 100px;
}

.all_table{
    text-align: center;

	background: url("../images/filler/lightdark_blue_filler.png") no-repeat center;
	background-size: cover;

	padding: 20px;
}

th{
	font-size: 20px;
}

.th_olympiad{
	padding: 5px 70px;
	padding-bottom: 15px;

	border-bottom: 3px solid #ababab;
}

.th_year{
	padding: 5px 25px;
	
	border-bottom: 3px solid #ababab;
}

.th_scope{
	padding: 5px 25px;
	
	border-bottom: 3px solid #ababab;
}

.th_name{
	padding: 5px 80px;
	
	border-bottom: 3px solid #ababab;
}

.th_medal{
	padding: 5px 45px;
	
	border-bottom: 3px solid #ababab;
}

.th_subject{
	padding: 5px 45px;
	
	border-bottom: 3px solid #ababab;
}

.th_class{
	padding: 5px 15px;
	
	border-bottom: 3px solid #ababab;
}

.th_location{
	padding: 5px 15px;
	
	border-bottom: 3px solid #ababab;
}

td{
	padding-top: 10px;
}

.awards_name_link{
	text-decoration: none;
	color: #fff;

	transition: color 0.1s;
}

.awards_name_link:hover{
	color: #97d6d8;
}

/*More btn*/
.more_table{
	display: flex;
	justify-content: center;

	width: 100%;

	padding-top: 30px;
	padding-bottom: 45px;
}

.more_btn{
	padding: 10px 10px;

	color: #fff;
	background: #5bb8bb;

	transition: color 0.1s;

	font-size: 18px;
}

.more_btn:hover{
	color: #5bb8bb;
	background: #fff;
}

/*Footer*/
.footer{
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: #403a3b;

	width: 100%;
	height: 300px;
	margin: 0 auto;
}

/*Footer -> content*/
.footer_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*Footer -> content -> header*/
.footer_header{
	width: 30%;
}

.footer_logo_component{
	display: flex;
	align-items: center;

	padding: 0 70px;
}

.footer_logo{
	width: 90px;
	height: 90px;
}

.footer_logo_name{
	font-size: 70px;

	margin-left: 20px;
}

/*Footer -> item*/
.footer_item{
	width: 20%;
	height: 230px;

	margin-top: 15px;

	/*border-left: 1px solid #938989;*/
}

.footer_item_header{
	font-size: 25px;
	font-weight: 700;

	text-transform: uppercase;
	text-align: center;

	padding-top: 15px;
}

/*Footer -> contact*/
.footer_contact{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	margin-top: 35px;
}

.footer_contact_item{
	display: flex;
	align-items: center;

	margin-bottom: 12px;
}

.footer_phone_img{
	width: 30px;
	height: 30px;

	margin-right: 15px;
	margin-left: 70px;
}

.footer_mail_img{
	width: 30px;
	height: 30px;

	margin-right: 15px;
	margin-left: 70px;
}

/*Footer -> map*/
.footer_map_header{
	display: flex;
	justify-content: center;
}

.footer_map_img{
	width: 90px;
	height: 90px;
}

.footer_map_content{
	font-size: 16px;

	text-align: center;

	margin-top: 12px;
}

/*Footer -> social network*/
.footer_soc{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-top: 10px;
}

.footer_soc{
	display:flex;
	justify-content: flex-start
}

.footer_soc_img{
	width: 50px;
	height: 50px;

	margin: 10px;
}

/*Footer -> footer*/
.footer_footer{
	display: flex;
	justify-content: center;
	align-items: center;

	background: #333;

	font-size: 16px;

	height: 40px;
}




































/**/