body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #fff;
}

*,
*after,
before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;

	margin: 0 auto;
}