body{
	margin: 0;

	font-family: 'Roboto', sans-serif; /* ??????????????????? */
	font-size: 15px;

	line-height: 1.5;

	color: #fff;
}

*,
*after,
*before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

.back{
    position: absolute;

    width: 75px;
    height: 75px;

    margin: 20px 50px;

    background: url("../images/arrow/arrow_white.png") no-repeat center;
    background-size: cover;
}   

.container{
	width: 100%;
	max-width: 700px;

	margin: 0 auto;
}

/* Register */
.register{
    width: 100%;
    height: 100%;

    background: url("../images/register/background.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* Content */
.content{
    width: 100%;
    height: 100%;

	padding-top: 50px;
	padding-bottom: 50px;
}

/* Block */
.block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    background: #504f93;
	border: 3px solid #4dc2cb;	
}

/* Header */
.header{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;

    background: #503582;
    border-bottom: 2px solid #4dc2cb;

    font-size: 38px;
    color: #6cdbe4;
}

.list{
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

/* Subtitle */
.subtitle{
	display: flex;	
	align-items: center;

	width: 100%;

	margin-top: 30px;
}

.sub_img{
	width: 62px;
	height: 62px;

	transform: translate(-31px);
}

.sub_text{
	display: flex;
	justify-content: center;

	width: 100%;

	padding-right: 25px;

    font-size: 35px;
    font-weight: 700;

    color: #6cdbe4;
}

input{
    border-radius: 10px;

    font-size: 20px;
}

/* Data inputs */
.data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left: 60px;
    padding-top: 20px;
}

/* Name */
.name_title{
    font-size: 28px;
    
    padding-bottom: 10px;
}

.name_item{
    padding-left: 40px;
}

/* Name inputs */
.name_input{
    display: flex;

    padding-left: 30px;
    padding-bottom: 15px;
}

.name_inputs_label{
    display: flex;
    flex-direction: column;

    font-size: 26px;
}

.name_input_inputs{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 10px;
}

.name_input_inputs input{
    margin-top: 8px;
    width: 200px;
}

/* Date */
.date_b{
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.date_title{
    font-size: 28px;
}

.date_item{
    padding-left: 20px;
    padding-top: 4px;
}

.date_item option{
    font-size: 20px;
}

/* Education */
.edu_title{
	font-size: 26px;
}

.sel_edu{
	font-size: 20px;

	padding-left: 40px;
	padding-bottom: 20px;
}

.sel_edu{
    .
}

/* Security */
/* email */
.email_title{
    font-size: 24px;

    padding-top: 10px;
    padding-bottom: 5px;
}

.email_item{
    font-size: 20px;

    padding-left: 40px;
}

.email_item input{
    width: 200px;
}

/* Phone */
.phone_title{
    font-size: 24px;

    padding-top: 20px;
    padding-bottom: 5px;
}

.phone_item{
    font-size: 20px;

    padding-left: 40px;
}

.phone_item input{
    margin-left: 5px;
}

/* Login */
.login_title{
    font-size: 24px;

    padding-top: 20px;
    padding-bottom: 5px;
}

.login_hint{
    color: #ababab;
    font-size: 18px;
    font-style: italic;

    margin-left: 5px;
    margin-bottom: 1px;
}

.login_item{
    font-size: 20px;

    padding-left: 40px;
}

.login_item input{
    margin-left: 5px;
    width: 150px;
}

/* Password */
.password_title{
    font-size: 24px;

    padding-top: 20px;
    padding-bottom: 5px;
}

.password_item{
    font-size: 20px;

    padding-left: 40px;
}

.password_hint{
    color: #ababab;
    font-size: 18px;
    font-style: italic;

    margin-left: 5px;
    margin-bottom: 1px;
}   

.password_input{
    display: flex;
}

.password_input_label{
    display: flex;
    flex-direction: column;
}

.password_input_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.password_input input{
    margin-top: 6px;
    margin-left: 5px;

    width: 170px;
}

/* Register btn */
.reg_btn{
    height: 80px;
    width: 100%;

    border:none;
    border-top: 2px solid #4dc2cb;

    background: #504f93;

    color: #6cdbe4;
    font-size: 32px;

    transition: color 0.2s;

    margin-top: 100px;
}

.reg_btn:hover{
    background: #505a9d;
}